---
// Highlight
// ------------
// Description: a simple component to highlight specific words or phrases
// Properties:
// - Type: the type of the highlight (1, 2, 3, 4)
// - classes: additional classes
// - colorFrom: For the type 4 (gradient) the initial color
// - colorTo: For the type 4 (gradient) the final color

// Props
type Props = {
	type?: string
	classes?: string
	colorFrom?: string
	colorTo?: string
}
const { type = '1', classes, colorFrom, colorTo } = Astro.props
---

<span
	class:list={['highlight', { [`highlight--${type}`]: type }, { [`${classes}`]: classes }]}
	style=`background-image:linear-gradient(to right, ${colorFrom} 0%, ${colorTo} 100%)`
>
	<slot />
</span>

<style>
	.highlight {
		position: relative;
		display: inline-block;
	}
	
	.highlight::before {
		position: absolute;
		bottom: -0.25rem;
		left: -0.25rem;
		right: -0.25rem;
		top: -0.25rem;
		z-index: -1;
		content: '';
	}
	
	.highlight--1 {
		color: rgb(var(--color-primary-500));
	}
	
	.highlight--2 {
		padding-left: 1rem;
		padding-right: 1rem;
		color: rgb(255 255 255);
	}
	
	.highlight--2::before {
		background-color: rgb(var(--color-primary-500));
	}
	
	.highlight--3 {
		padding-left: 1rem;
		padding-right: 1rem;
		color: rgb(255 255 255);
	}
	
	.highlight--3::before {
		transform: rotate(-2deg);
		background-color: rgb(var(--color-primary-500));
	}
	
	@media (min-width: 1024px) {
		.highlight--3::before {
			bottom: -0.5rem;
			top: -0.5rem;
		}
	}
	
	.highlight--4 {
		background-image: linear-gradient(to right, var(--tw-gradient-stops));
		background-clip: text;
		color: transparent;
	}
</style>
