---
// List
// ------------
// Description: the list component is a ui element that displays a list of items in a vertical order.
// Properties:
// - Type: the type of the list (basic, checklist)
// - ListItems: the list items of the list
// - classes: additional classes
// - listColor: the color of the marker (primary, neutral, white)

// Components
// - UI
import { Icon } from 'astro-icon/components'

// Props
type Props = {
	type?: 'basic' | 'checklist'
	listItems: Array<any>
	classes?: string
	listColor?: 'primary' | 'neutral' | 'white'
}
const { type = 'basic', listColor = 'primary', listItems, classes } = Astro.props
---

<ul
	class:list={[
		'list',
		{ ['list--' + `${type}`]: type },
		{ ['list--' + `${listColor}`]: listColor },
		{ [`${classes}`]: classes }
	]}
>
	{
		listItems.map((item) => (
			<li>
				{type === 'checklist' && <Icon name="check-circle" />} {item.listItem}
			</li>
		))
	}
</ul>

<style>
	.list li {
		margin-bottom: 0.5rem;
		margin-left: 1rem;
		list-style-type: disc;
		color: rgb(64 64 64);
	}
	
	:global(.dark) .list li {
		color: rgb(250 250 250);
	}
	
	.list--checklist :global(li) {
		display: flex;
		align-items: flex-start;
		gap: 0.5rem;
	}
	
	.list--checklist :global(svg) {
		height: 1.5rem;
		width: 1.5rem;
		flex-shrink: 0;
		padding: 0.25rem;
		color: rgb(var(--color-primary-500));
	}
	
	.list--primary.list--checklist :global(svg) {
		color: rgb(var(--color-primary-500));
	}
	
	.list--primary :global(li)::marker {
		color: rgb(var(--color-primary-500));
	}
	
	.list--white.list--checklist :global(svg) {
		color: rgb(255 255 255);
	}
	
	.list--white :global(li)::marker {
		color: rgb(255 255 255);
	}
	
	.list--neutral.list--checklist :global(svg) {
		color: rgb(115 115 115);
	}
	
	.list--neutral :global(li)::marker {
		color: rgb(115 115 115);
	}
</style>
