---
// Modal
// ------------
// Description: the modal component is a ui element that displays a dialog box that appears on top of the current page.
// Properties:
// - Id: the id of the modal (use this id in the "modal" prop of the button)
// - Title: the title of the modal
// - classes: additional classes
// Reference: https://wind-ui.com/components/modals/

// Components
// - UI
import Button from './Button.astro'
import { Icon } from 'astro-icon/components'

// Props
type Props = {
	id?: string
	title?: string
	classes?: string
}
const { id, title, classes } = Astro.props
---

<div {...id ? { id } : {}} class:list={['modal', { [`${classes}`]: classes }]}>
	<div class="modal__popup">
		<div class="modal__header">
			{title && <h2 class="modal__title">{title}</h2>}
			<Button size="sm" style="neutral" classes="modal__close" variation="link">
				<Icon name="x-mark" class="dark:text-neutral-50" />
				<span class="sr-only">Close</span>
			</Button>
		</div>
		<div class="modal__body">
			<slot />
		</div>
	</div>
</div>

<style>
	.modal {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 30;
		display: flex;
		height: 0;
		width: 100%;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background-color: rgb(255 255 255 / 0.5);
	}
	
	@media (min-width: 1024px) {
		.modal {
			backdrop-filter: blur(4px);
		}
	}
	
	:global(.dark) .modal {
		background-color: rgb(23 23 23 / 0.5);
	}
	
	.modal.open {
		height: 100%;
	}
	
	.modal__popup {
		margin: 1.5rem;
		display: flex;
		width: 20rem;
		max-width: 100%;
		transform: translateY(1.5rem);
		flex-direction: column;
		overflow: hidden;
		border-radius: 0.25rem;
		border-width: 1px;
		border-color: rgb(245 245 245);
		background-color: rgb(255 255 255);
		color: rgb(115 115 115);
		opacity: 0;
		box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 500ms;
	}
	
	:global(.dark) .modal__popup {
		border-color: rgb(38 38 38);
		background-color: rgb(23 23 23);
		box-shadow: 0 20px 25px -5px rgb(10 10 10 / 0.5), 0 8px 10px -6px rgb(10 10 10 / 0.5);
	}
	
	.open .modal__popup {
		transform: translateY(0);
		opacity: 1;
	}
	
	.modal__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.5rem;
		border-bottom-width: 1px;
		border-color: rgb(245 245 245);
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 500;
	}
	
	:global(.dark) .modal__header {
		border-color: rgb(38 38 38);
	}
	
	.modal__close {
		border-radius: 9999px !important;
		padding-left: 0.625rem !important;
		padding-right: 0.625rem !important;
	}
	
	.modal__title {
		margin-bottom: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
	
	.modal__body {
		padding: 1.5rem;
	}
</style>
